# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/

# Secrets / environment
.env
*.env

# Logs
*.log
server.log
